:host {
  display: block;
}
*{
  padding: 0;
  margin: 0;
}
ion-icon{
  padding-left: 10px;
}
img{
  width: 150px;
}
.nav-container{
  /* min-height: 60px; */
  background-color: #ffffff;
  border-bottom: 1px solid rgba(151,151,151,.2);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.nav{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side-nav{
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
li{
  text-decoration: none;
  list-style: none;
}
ul>li>a{
  text-transform: uppercase;
  text-decoration: none;
  color: $primary-color;
  padding: 10px 15px;
  transition: all .10s cubic-bezier(.25,.46,.45,.94); 
}
ul>li>a:hover{
  background-color: transparent;
  color: $secondary-color;
  border-bottom: solid 5px $secondary-color;
}
ul.left-side-nav>a{ 
  padding-right: 30px;
  border-right: 1px solid rgba(151,151,151,.2);
}
ul.left-side-nav>li>a{ 
  border-right: 1px solid rgba(151,151,151,.2);
  font-weight: 600;
}
ul.rigth-side-nav>li>a{
  background-color: $secondary-color;
  border-radius: 10px;
  color: #ffffff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
ul.rigth-side-nav>li>a:hover{
  opacity: 0.8;
  color: $primary-color;
  text-decoration: none;
  border-bottom: 0;
}